{%extends 'datapanel/datapanel_base.html'%}
{% block jsblock %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flot.categories.js"></script>
{% endblock jsblock %}
{% block title %}
{{project.name}} - 转化路径
{% endblock title %}
{% block subnav-funnel %}
    <li class="active">
        <a href="{%url funnel_home project.id%}">转化路径</a>
    </li>
{% endblock subnav-funnel %}
{% block content %}
    <div class="span10">
        <div class="page-header">
            <h1>{{project.name}} / 转化路径</h1>
        </div>
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="{%url funnel_home project.id %}">路径数据</a>
            </li>
            <li>
                <a href="{%url funnel_list project.id %}">路径设定</a>
            </li>
            <li>
                <a href="{%url funnel_intel project.id %}">智能分析</a>
            </li>
        </ul>
        <div class="">
            <ul class="nav nav-pills">
                <li class="dropdown" id="funnels">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#funnels">
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        {%for f in funnel_list%}
                        <li>
                            <a href="?funnel_id={{f.id}}">{{f.name}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                </li>
            </ul>
        </div>
        <div id="placeholder" style="width:969px;height:300px;"></div>
        <table class="table table-bordered">
            <thead>
                <tr>
                {% for value in data %}
                <th>{{value.0}}</th>
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for value in data %}
                <td>{% if value.2 %}
                    <span>{{value.2}}%</span> ->
                {% endif %}{{value.1}}</td>
                {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
    $(function () {
        $("#funnels").find("a.dropdown-toggle").html('{{params.funnel}}<b class="caret"></b>');
        var data = {{datajson|safe}};

        $.plot($("#placeholder"), [ data ], {
            series: {
                bars: {
                    show: true,
                    barWidth: 0.6,
                    align: "center" }
            },
            xaxis: {
                mode: "categories",
                tickLength: 0
            }
        });
    });
    </script>
{% endblock content %}
