{%extends 'datapanel/datapanel_base.html'%}
{% block title %}
{{project.name}} - 分析路径
{% endblock title %}
{% block subnav-funnel %}
    <li class="active">
        <a href="{%url funnel_home project.id%}">分析路径</a>
    </li>
{% endblock subnav-funnel %}
{% block content %}
    <div class="span10">
        <div class="page-header">
            <h1>{{project.name}} / 分析路径</h1>
        </div>
        <ul class="nav nav-tabs">
            <li>
                <a href="{%url funnel_home project.id %}">路径数据</a>
            </li>
            <li>
                <a href="{%url funnel_list project.id %}">路径设定</a>
            </li>
            <li class="active">
                <a href="{%url funnel_intel project.id %}">智能分析</a>
            </li>
        </ul>
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            选择一个起始动作
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                {% for action in actions %}
                <li><a href="?action_id={{action.id}}">{{action.name}}</a></li>
                {% endfor %}
            <!-- dropdown menu links -->
            </ul>
        </div>
        <div>
            {% if funnel %}
            <ol>
            {% for action in funnel %}
                <li>{{action.0.name}} {{action.1}}</li>
            {% endfor %}
            </ol>
            {% endif %}
        </div>
    </div>

{% endblock content %}
