{%extends 'datapanel/datapanel_base.html'%}
{% block subnav-group %}
<li class="active">
	<a href="{%url group_home project.id%}">网页分析</a>
</li>
{% endblock subnav-group %}
{% block content %}
<div class=" span10">
	<div class="page-header">
		<h1>{{project.name}} / 网页分析</h1>
	</div>
	<div class="">
	<ul class="nav nav-pills">
		<li class="dropdown" id="conditions">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#conditions">
				自定义条件
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="?interval={{params.interval}}&timeline={{params.timeline}}&datetype={{params.datetype}}&condition_id=0">所有数据（无条件）</a>
				</li>
				{%for condition in conditions%}
				<li>
					<a href="?interval={{params.interval}}&timeline={{params.timeline}}&datetype={{params.datetype}}&condition_id={{condition.id}}">{{condition.name}}</a>
				</li>
				{%endfor%}
			</ul>
		</li>
		<li class="dropdown" id="datetype">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#datetype">
				{% if params.datetype == 'hourline' %}
					按小时统计
				{% elif params.datetype == 'monthline' %}
					按月统计
				{% elif params.datetype == 'weekline' %}
					按周统计
				{% else %}
					按天统计
				{% endif %}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="?interval={{params.interval}}&timeline={{params.timeline}}&datetype=hourline&condition_id={{params.condition_id}}">按小时统计</a>
				</li>
				<li>
					<a href="?interval={{params.interval}}&timeline={{params.timeline}}&datetype=dayline&condition_id={{params.condition_id}}">按天统计</a>
				</li>
				<li>
					<a href="?interval={{params.interval}}&timeline={{params.timeline}}&datetype=weekline&condition_id={{params.condition_id}}">按周统计</a>
				</li>
				<li>
					<a href="?interval={{params.interval}}&timeline={{params.timeline}}&datetype=monthline&condition_id={{params.condition_id}}">按月统计</a>
				</li>
			</ul>
		</li>
		<li class="navbar-form">
			<input id="sd" type="text" class="input-small" value="" placeholder="间隔({{params.interval}}{% if params.datetype == 'H' %}小时{% elif params.datetype == 'M' %}月{% elif params.datetype == 'W' %}周{% else %}天{% endif %})" />
		</li>
	</ul>
	<table class="table table-striped table-hover table-bordered trackgroup-list">
		<thead>
			<tr>
				<th class="action">
					动作
				</th>
				{% for t in times %}
					<th>{{t.0|date:"H:i\<\b\r\/\>Y-m-d"|safe}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for action in actions %}
			<tr>
			<td class="action">{{action}}</td>
			{% for t in times %}
				<td data-id="{{action}}_{{t.1}}">0</td>
			{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td>
					{% if params.timeline = 0 %}
					<a class="btn disabled pull-left" href="#">
					<i class="icon-chevron-left"></i></a>
					{% else %}
					<a class="btn pull-left" href="?interval={{params.interval}}&timeline={{params.timeline|add:-1}}&datetype={{params.datetype}}"><i class="icon-chevron-left"></i></a>
					{% endif %}
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a class="btn pull-right" href="?interval={{params.interval}}&timeline={{params.timeline|add:1}}&datetype={{params.datetype}}"><i class="icon-chevron-right"></i></a></td>
		</tbody>
	</table>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#sd").blur(function(){
		if(parseInt($(this).val())){
			var querystring = "?interval="+$(this).val()+"&timeline={{params.timeline}}&datetype={{params.datetype}}&condition_id={{params.condition_id}}";
			window.location.href = querystring;
		}
		else{
			$(this).val(1).blur();
		}
	});
	var data = {{data|safe}};
	$.each(data, function(k, v){
		$('td[data-id='+ v.fields.action + '_' + v.fields.dateline+']').html(v.fields.value);
	});
});
</script>
{% endblock content %}