{%extends 'datapanel/datapanel_base.html'%}
{% block subnav-group %}
<li class="active">
	<a href="{%url group_home project.id%}">网页分析</a>
</li>
{% endblock subnav-group %}
{% block content %}
<div class=" span10">
	<div class="page-header">
		<h1>{{project.name}} / 网页分析</h1>
	</div>
	<div class="">
	<ul class="nav nav-pills">
		<!--<li class="dropdown" id="groupcate">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#groupcate">
				{% if params.groupcate == 'L' %}
					着陆页
				{% elif params.groupcate == 'F' %}
					第一次点击
				{% elif params.groupcate == 'J' %}
					跳出页
				{% else %}
					所有页面
				{% endif %}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate=A&interval={{params.interval}}&timeline={{params.timeline}}&groupdate={{params.groupdate}}">所有页面</a>
				</li>
				<li>
					<a href="?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate=L&interval={{params.interval}}&timeline={{params.timeline}}&groupdate={{params.groupdate}}">着陆页</a>
				</li>
				<li>
					<a href="?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate=F&interval={{params.interval}}&timeline={{params.timeline}}&groupdate={{params.groupdate}}">第一次点击</a>
				</li>
				<li>
					<a href="?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate=J&interval={{params.interval}}&timeline={{params.timeline}}&groupdate={{params.groupdate}}">跳出页</a>
				</li>
			</ul>
		</li>-->
		<li class="dropdown" id="groupdate">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#groupdate">
				{% if params.groupdate == 'hourline' %}
					小时
				{% elif params.groupdate == 'monthline' %}
					月
				{% elif params.groupdate == 'weekline' %}
					周
				{% else %}
					天
				{% endif %}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate={{params.groupcate}}&interval={{params.interval}}&timeline={{params.timeline}}&groupdate=hourline">小时</a>
				</li>
				<li>
					<a href="?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate={{params.groupcate}}&interval={{params.interval}}&timeline={{params.timeline}}&groupdate=dayline">天</a>
				</li>
				<li>
					<a href="?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate={{params.groupcate}}&interval={{params.interval}}&timeline={{params.timeline}}&groupdate=weekline">周</a>
				</li>
				<li>
					<a href="?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate={{params.groupcate}}&interval={{params.interval}}&timeline={{params.timeline}}&groupdate=monthline">月</a>
				</li>
			</ul>
		</li>
		<li class="dropdown" id="datatype">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#datatype">
				{% if params.datatype == "delay" %}
					停留时间
				{% else %}
					访问量
				{% endif %}
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="?grouptype={{params.grouptype}}&datatype=click&groupcate={{params.groupcate}}&interval={{params.interval}}&timeline={{params.timeline}}&groupdate={{params.groupdate}}">访问量</a>
				</li>
				<li>
					<a href="?grouptype={{params.grouptype}}&datatype=delay&groupcate={{params.groupcate}}&interval={{params.interval}}&timeline={{params.timeline}}&groupdate={{params.groupdate}}">停留时间</a>
				</li>
			</ul>
		</li>
		<li class="navbar-form">
			<input id="sd" type="text" class="input-small" value="" placeholder="间隔({{params.interval}}{% if params.groupdate == 'H' %}小时{% elif params.groupdate == 'M' %}月{% elif params.groupdate == 'W' %}周{% else %}天{% endif %})" />
		</li>
	</ul>

	<table class="table table-striped table-hover table-bordered trackgroup-list">
		<thead>
			<tr>
				<th class="action">
					动作
				</th>
				{% for t in times %}
					<th>{{t[0]|date:"H:i\<\b\r\/\>Y-m-d"|safe}}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for action in actions %}
			<tr>
			<td class="action">{{action}}</td>
			{% for t in times %}
				<td data-id="{{action}}_{{t}}">0</td>
			{% endfor %}
			</tr>
			{% endfor %}
			<tr>
				<td>
					{% if params.timeline = 0 %}
					<a class="btn disabled" href="#">
					<i class="icon-chevron-left"></i></a>
					{% else %}
					<a class="btn pull-left" href="?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate={{params.groupcate}}&interval={{params.interval}}&timeline={{params.timeline|add:-1}}&groupdate={{params.groupdate}}"><i class="icon-chevron-left"></i></a>
					{% endif %}
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><a class="btn pull-right" href="?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate={{params.groupcate}}&interval={{params.interval}}&timeline={{params.timeline|add:1}}&groupdate={{params.groupdate}}"><i class="icon-chevron-right"></i></a></td>
		</tbody>
	</table>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$("#sd").blur(function(){
		if(parseInt($(this).val())){
			var querystring = "?grouptype={{params.grouptype}}&datatype={{params.datatype}}&groupcate={{params.groupcate}}&interval="+$(this).val()+"&timeline={{params.timeline}}&groupdate={{params.groupdate}}";
			window.location.href = querystring;
		}
		else{
			$(this).val(1).blur();
		}
	});
	var data = {{data|safe}};
	$.each(data, function(k, v){
		v.fileds.action
	});
});
</script>
{% endblock content %}