{%extends 'datapanel/datapanel_base.html'%}
{% block subnav-condition %}
    <li class="active">
        <a href="{%url condition_list project.id%}">条件设定</a>
    </li>
{% endblock subnav-condition %}
{% block content %}
    <div class="span10">
        <div class="page-header">
            <a class="btn pull-right" href="{%url condition_create project.id%}">添加条件</a>
            <h1>{{project.name}} / 条件设定</h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th class="">条件名称</th>
                <th>查看</th>
                <th>设置条件</th>
                <th>重命名</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            {% for condition in condition_list %}
                <tr>
                    <td class="">{{condition.name}}</td>
                    <td><a href='#'>查看</a></td>
                    <td><a href='{%url condition_testerlist project.id condition.id%}'>设置条件</a></td>
                    <td><a href='{%url condition_update project.id condition.id%}'>重命名</a></td>
                    <td><a href='{%url condition_delete project.id condition.id%}'>删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn" href="{%url condition_create project.id%}">添加条件</a>
    </div>
{% endblock content %}