{% extends 'datapanel/datapanel_base.html' %}
{% block subnav-home %}
    <li class="active">
        <a href="{% url project_home project.id %}">网站概况</a>
    </li>
{% endblock subnav-home %}
{% block content %}
    <div class="span10">
        <div class="page-header">
            <h1>{{ project.name }} / 网站概况 / 浏览量</h1>
        </div>
        <ul class="nav nav-pills">
            {# <li {% if interval == "0" %}class="active"{% endif %}><a href="{%url project_home project.id%}?interval=0">今天</a></li> #}
            <li {% if interval == "1" %}class="active"{% endif %}><a href="{%url project_home project.id%}?interval=1">昨天</a></li>
            <li {% if interval == "7" %}class="active"{% endif %}><a href="{%url project_home project.id%}?interval=7">最近7天</a></li>
            <li {% if interval == "30" %}class="active"{% endif %}><a href="{%url project_home project.id%}?interval=30">最近30天</a></li>
            <li><a href="{%url project_monitor project.id%}">实时数据</a></li>
        </ul>
        <div id="placeholder" style="width:969px;height:500px;margin:10px 0;display:none"></div>
        <div>
        <div style="float:left;margin-left:50px;"><label><input type="radio" id="id_type_1" name="type" class="radios" value="chart" checked="checked"> 浏览量</label></div>
        <div style="float:left"><label><input type="radio" id="id_type_2" name="type" class="radios" value="chart1"> 访问量</label></div>
        <div style="float:left"><label><input type="radio" id="id_type_3" name="type" class="radios" value="chart2"> 平均访问时长</label></div>
        </div>
        <div id="chart" ></div>
        <div id="chart1" ></div>
        <div id="chart2" ></div>
    </div>
	<SCRIPT LANGUAGE="Javascript" SRC="{{ STATIC_URL }}js/FusionCharts.js"></SCRIPT>
    <script type="text/javascript">
        var ticks = [];
        var tooltips = [];
        var d1 = [];
        var xmlData="<graph formatNumberScale='0' showShadow ='1' showValues='0' useRoundEdges='1'>";
        var xmlData1="<graph formatNumberScale='0' showShadow ='1' showValues='0' useRoundEdges='1'>";
        var xmlData2="<graph formatNumberScale='0' showShadow ='1' showValues='0' useRoundEdges='1'>";
        {% for sb in sbt %}
        	xmlData+="<set value='{{sb.count|default:0}}' name = '{% if sb.datetype == 'hour' %}{{sb.dateline|date:"H"|safe}}{% endif %}'/>";
        	xmlData1+="<set value='{{sb.track_count|default:0}}' name = '{% if sb.datetype == 'hour' %}{{sb.dateline|date:"H"|safe}}{% endif %}'/>";
            xmlData2+="<set value='{{sb.timelength|default:0}}' name = '{% if sb.datetype == 'hour' %}{{sb.timeline.dateline|date:"H"|safe}}{% endif %}'/>";
            d1.push(['{{forloop.counter|add:-1}}', {{ sb.count }}]);
            tooltips[{{forloop.counter|add:-1}}] = [{{forloop.counter|add:-1}}, '{{sb.dateline|date:"Y/m/d\<\b\r\/\>H:i"|safe}}'];
            {% if sb.datetype == 'hour' %}
                ticks[{{forloop.counter|add:-1}}] = [{{forloop.counter|add:-1}}, '{{sb.dateline|date:"H"|safe}}'];
            {% endif %}
        {% endfor %}

		xmlData+="</graph>";
	    var chart = new FusionCharts("{{ STATIC_URL }}flash/FCF_Line.swf", "chartId", "969", "300", "0", "1");
	    chart.setDataXML(xmlData);
	    chart.setTransparent(true);
	    chart.render("chart");

		xmlData1+="</graph>";
	    var chart = new FusionCharts("{{ STATIC_URL }}flash/FCF_Line.swf", "chartId", "969", "300", "0", "1");
	    chart.setDataXML(xmlData1);
	    chart.setTransparent(true);
	    chart.render("chart1");

	    xmlData2+="</graph>";
	    var chart = new FusionCharts("{{ STATIC_URL }}flash/FCF_Line.swf", "chartId", "969", "300", "0", "1");
	    chart.setDataXML(xmlData2);
	    chart.setTransparent(true);
	    chart.render("chart2");
        $('.dropdown-toggle').dropdown();
        $('.datepicker').datepicker();
        $.plot($("#placeholder"), [{data:d1}], {
            yaxis:{ min:0 },
            grid:{ hoverable:true, clickable:true },
            xaxis:{ ticks:ticks,show:true},
            series:{
                lines:{ show:true, fill: true },
                points:{ show:true }
            }
        });
        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position:'absolute',
                display:'none',
                top:y + 5,
                left:x + 5,
                border:'1px solid #fdd',
                padding:'2px',
                'background-color':'#fee',
                opacity:0.80
            }).appendTo("body").fadeIn(200);
        }
        $("#placeholder").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                    $("#tooltip").remove();
                    var i = item.dataIndex;
                    var x = item.datapoint[0];
                    var y = item.datapoint[1];
                    showTooltip(item.pageX, item.pageY, "总访问量：" + y + "<br/>" + tooltips[i][1]);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
        $(document).ready(function(){
        	$('#chart1').hide();
        	$('#chart2').hide();
        	$("input[name='type']").change(function() {
        	var svalue = $("input[name='type']:checked").val();
			if (svalue =='chart'){
			$('#chart').show();
        	$('#chart1').hide();
        	$('#chart2').hide();
			}
			if (svalue =='chart1'){
			$('#chart1').show();
        	$('#chart').hide();
        	$('#chart2').hide();
			}
			if (svalue =='chart2'){
			$('#chart2').show();
        	$('#chart1').hide();
        	$('#chart').hide();
			}
        	});

          });
    </script>
{% endblock content %}
