{% extends 'datapanel/datapanel_base.html' %}
{% block subnav-home %}
    <li class="active">
        <a href="{% url project_home project.id %}">网站概况</a>
    </li>
{% endblock subnav-home %}
{% block content %}
    <div class="span10">
        <ul class="breadcrumb">
            <li><a href="#">{{ project.name }}</a> <span class="divider">/</span></li>
            <li class="active">概况</li>
        </ul>
        <ul id="nav_dateline" class="nav nav-pills">
            <li class="active">
                <a href="#" id="dateline_today">今天</a>
            </li>
            <li>
                <a href="#" id="dateline_yesterday">昨天</a>
            </li>
            <li>
                <a href="#" id="dateline_week">最近7天</a>
            </li>
            <li>
                <a href="#" id="dateline_month">最近30天</a>
            </li>
        </ul>
        <div id="placeholder" style="height:300px"></div>
    </div>
{% endblock content %}
{% block jsblock %}
<script type="text/javascript">
function plot(data){
    $.plot($("#placeholder"), [{data:data}], {
        yaxis:{ min:0 },
        grid:{
            borderWidth: 1,
            minBorderMargin: 20,
            labelMargin: 10,
            backgroundColor: {
                colors: ["#fff", "#e4f4f4"]
            },
            hoverable: true,
            margin: {
                top: 8,
                bottom: 20,
                left: 20
            }
        },
        xaxis:{ mode: "time", timeformat:"%Y/%m/%d"},
        series:{
            lines:{ show:true, fill: true },
            points:{ show:true }
        }
    });
}
function showTooltip(x, y, contents) {
    $('<div id="tooltip">' + contents + '</div>').css({
        position:'absolute',
        display:'none',
        top:y + 5,
        left:x + 5,
        border:'1px solid #fdd',
        padding:'2px',
        'background-color':'#fee',
        opacity:0.80
    }).appendTo("body").fadeIn(200);
}
$(document).ready(function(){
    var ticks = [];
    var tooltips = [];
    var d1 = {{report}};

    plot(d1);

    $("#placeholder").bind("plothover", function (event, pos, item) {
        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;
                $("#tooltip").remove();
                var i = item.dataIndex;
                var x = item.datapoint[0];
                var y = item.datapoint[1];
                showTooltip(item.pageX, item.pageY, "访问量: " + y + "<br/>" +  new Date(x).toLocaleString());
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });

    $("#nav_dateline a").click(function(e){
        e.preventDefault();
        var a_id = $(this).attr("id");
        if(a_id == "dateline_today"){
            url = "{% url project_home project.id %}"
        }
        else if (a_id == "dateline_yesterday"){
            var d = new Date();
            var s = d.setDate(d.getDate()-1);
            url = "{% url project_home project.id %}" + "?s=" + d.format('yyyy-MM-dd');
        }
        else if(a_id == "dateline_week"){
            var d = new Date();
            e = d.format('yyyy-MM-dd');
            d.setDate(d.getDate()-7);
            s = d.format('yyyy-MM-dd');
            url = "{% url project_home project.id %}" + "?d=day&s=" + s + "&e=" + e;
        }
        else if(a_id == "dateline_month"){
            var d = new Date();
            e = d.format('yyyy-MM-dd');
            d.setDate(d.getDate() - 30);
            s = d.format('yyyy-MM-dd');
            url = "{% url project_home project.id %}" + "?d=day&s=" + s + "&e=" + e;
        }
        $.get(url, function(data){plot(data);}, 'json');
        $("#nav_dateline li").removeClass("active");
        $(this).parent().addClass('active');
    });
});
</script>
{% endblock jsblock %}
