{% extends 'datapanel/datapanel_base.html' %}
{% block subnav-home %}
    <li class="active">
        <a href="{% url project_home project.id %}">网站概况</a>
    </li>
{% endblock subnav-home %}
{% block content %}
    <div class=" span10">
        <div class="page-header">
            <h1>{{ project.name }} / 网站概况</h1>
        </div>
        <ul class="nav nav-pills">
            <li class="dropdown pull-left" id="menu1">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#datetype">
                    {% if params.datetype == 'dayline' %}
                        按天统计
                    {% elif params.datetype == 'monthline' %}
                        按月统计
                    {% else %}
                        按小时统计
                    {% endif %}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="?datetype=hour">按小时统计</a>
                    </li>
                    <li>
                        <a href="?datetype=day">按天统计</a>
                    </li>
                    <li>
                        <a href="?datetype=week">按周统计</a>
                    </li>
                    <li>
                        <a href="?datetype=month">按月统计</a>
                    </li>
                </ul>
            </li>
        </ul>
        <div id="placeholder" style="width:969px;height:300px;margin:10px 0"></div>
    </div>
    <script type="text/javascript">
        var ticks = [];
        var tooltips = [];
        var d1 = [];
        {% for sb in sbt %}
            d1.push(['{{forloop.counter|add:-1}}', {{ sb.value }}]);
            tooltips[{{forloop.counter|add:-1}}] = [{{forloop.counter|add:-1}}, '{{sb.dateline|date:"Y/m/d\<\b\r\/\>H:i"|safe}}'];
            {% if sb.datetype == 'hour' %}
                ticks[{{forloop.counter|add:-1}}] = [{{forloop.counter|add:-1}}, '{{sb.dateline|date:"H:i"|safe}}'];
            {% endif %}
        {% endfor %}
        $('.dropdown-toggle').dropdown();
        $('.datepicker').datepicker();
        $.plot($("#placeholder"), [ {label:"访问量",data:d1}], {
            yaxis:{ min:0 },
            grid:{ hoverable:true, clickable:true },
            xaxis:{ ticks:ticks,show:true},
            series:{
                lines:{ show:true, fill: true },
                points:{ show:true }
            }
        });
        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position:'absolute',
                display:'none',
                top:y + 5,
                left:x + 5,
                border:'1px solid #fdd',
                padding:'2px',
                'background-color':'#fee',
                opacity:0.80
            }).appendTo("body").fadeIn(200);
        }
        $("#placeholder").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;
                    $("#tooltip").remove();
                    var i = item.dataIndex;
                    var x = item.datapoint[0];
                    var y = item.datapoint[1];
                    showTooltip(item.pageX, item.pageY, "总访问量：" + y + "<br/>" + tooltips[i][1]);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    </script>
{% endblock content %}