{% extends 'datapanel/datapanel_base.html' %}
{% block subnav-home %}
    <li class="active">
        <a href="{% url project_home project.id %}">网站概况</a>
    </li>
{% endblock subnav-home %}
{% block content %}
    <div class=" span10">
        <div class="page-header">
            <h1>{{ project.name }} / 访问量</h1>
        </div>
        <h2>页面点击数</h2>
        <div id="placeholder" style="width:969px;height:300px;margin:10px 0"></div>
        <h2>用户访问量</h2>
        <div id="placeholder1" style="width:969px;height:300px;margin:10px 0"></div>
    </div>
    <script type="text/javascript">
    $(function() {

        var container = $("#placeholder");
        var container1 = $("#placeholder1");

        // Determine how many data points to keep based on the placeholder's initial size;
        // this gives us a nice high-res plot while avoiding more than one point per pixel.

        var maximum = 600;
        var true_value = 0;
        var second_value = true_value;
        var true_value1 = 0;
        var second_value1 = true_value1;
        //

        var data = [];
        function get_value() {
            $.get('/project/{{project.id}}/monitor/?track=1', function(data){
                true_value = parseInt(data);
            });
        }
        get_value();

        var data1 = [];
        function get_value1() {
            $.get('/project/{{project.id}}/monitor/?session=1', function(data){
                true_value1 = parseInt(data);
            });
        }
        get_value1();

        function getRandomData() {
            if (true_value ==0 && data.length ==0){
                return []
            }
            if (data.length > maximum) {
                data = data.slice(1);
            }
            data.push(second_value + Math.random() * 6 - 3);
            // zip the generated y values with the x values

            var res = [];
            for (var i = 0; i < data.length; ++i) {
                res.push([i, data[i]])
            }

            return res;
        }

        function getRandomData1() {
            if (true_value1 ==0 && data1.length ==0){
                return []
            }
            if (data1.length > maximum) {
                data1 = data1.slice(1);
            }
            data1.push(second_value1 + Math.random() * 6 - 3);
            // zip the generated y values with the x values

            var res = [];
            for (var i = 0; i < data1.length; ++i) {
                res.push([i, data1[i]])
            }

            return res;
        }

        //

        series = [{
            data: getRandomData(),
            lines: {
                fill: true
            }
        }];
        series1 = [{
            data: getRandomData1(),
            lines: {
                fill: true
            }
        }];

        //

        var plot = $.plot(container, series, {
            grid: {
                borderWidth: 1,
                minBorderMargin: 20,
                labelMargin: 10,
                backgroundColor: {
                    colors: ["#fff", "#e4f4f4"]
                },
                hoverable: true,
                mouseActiveRadius: 50,
                margin: {
                    top: 8,
                    bottom: 20,
                    left: 20
                },
                markings: function(axes) {
                    var markings = [];
                    var xaxis = axes.xaxis;
                    for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
                        markings.push({ xaxis: { from: x, to: x + xaxis.tickSize }, color: "rgba(232, 232, 255, 0.2)" });
                    }
                    return markings;
                }
            },
            yaxis: {
                min: 0,
                max: 210
            },
            xaxis: {
                min: 0,
                max: 600
            },
            legend: {
                show: true
            }
        });

        var plot1 = $.plot(container1, series1, {
            grid: {
                borderWidth: 1,
                minBorderMargin: 20,
                labelMargin: 10,
                backgroundColor: {
                    colors: ["#fff", "#e4f4f4"]
                },
                hoverable: true,
                mouseActiveRadius: 50,
                margin: {
                    top: 8,
                    bottom: 20,
                    left: 20
                },
                markings: function(axes) {
                    var markings = [];
                    var xaxis = axes.xaxis;
                    for (var x = Math.floor(xaxis.min); x < xaxis.max; x += xaxis.tickSize * 2) {
                        markings.push({ xaxis: { from: x, to: x + xaxis.tickSize }, color: "rgba(232, 232, 255, 0.2)" });
                    }
                    return markings;
                }
            },
            yaxis: {
                min: 0,
                max: 110
            },
            xaxis: {
                min: 0,
                max: 600
            },
            legend: {
                show: true
            }
        });

        // Create the demo X and Y axis labels

        //var xaxisLabel = $("<div class='axisLabel xaxisLabel'></div>")
        //  .text("")
        //  .appendTo(container);

        // var yaxisLabel = $("<div class='axisLabel yaxisLabel'></div>")
        //     .text("Response Time (ms)")
        //     .appendTo(container);

        // Since CSS transforms use the top-left corner of the label as the transform origin,
        // we need to center the y-axis label by shifting it down by half its width.
        // Subtract 20 to factor the chart's bottom margin into the centering.

        // yaxisLabel.css("margin-top", yaxisLabel.width() / 2 - 20);

        // Update the random dataset at 25FPS for a smoothly-animating chart

        setInterval(function updateRandom() {
                series[0].data = getRandomData();
                plot.setData(series);
                plot.draw();
        }, 40);

        setInterval(get_value, 20000);

        setInterval(function set_value(){
            second_value = true_value + Math.random() * 10 - 5;
        }, 1000)

        setInterval(function updateRandom1() {
                series1[0].data = getRandomData1();
                plot1.setData(series1);
                plot1.draw();
        }, 40);

        setInterval(get_value1, 20000);

        setInterval(function set_value1(){
            second_value1 = true_value1 + Math.random() * 10 - 5;
        }, 1000)
    });
    </script>
{% endblock content %}
