{%extends 'datapanel/datapanel_base.html'%}
{% block subnav-setting %}
<li class="active">
	<a href="{%url 'project_setting' project.id%}">设置</a>
</li>
{% endblock subnav-setting %}
{% block content  %}
<div class="span10">
<div class="well clearfix">
	<h3 style="border-bottom:1px solid #E5E5E5; margin-bottom:15px; line-height: 36px; padding: 0">设置</h3>
	<form class="form-horizontal">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="input01">项目名称</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{project.name}}"></div>
			</div>
			<div class="control-group">
				<label class="control-label" for="input01">项目URL</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{project.url}}"></div>

			</div>
			<div class="control-group">
				<label class="control-label" for="input01">Token</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="input01" value="{{project.token}}" readonly="readonly">
					<p class="help-block">给我们发送数据的时候，您会需要这个的……</p>
				</div>

			</div>
		</fieldset>
	</form>
</div>
<div class="well clearfix">
	<h3 style="border-bottom:1px solid #E5E5E5; margin-bottom:15px; line-height: 36px; padding: 0">转让</h3>
	<p class="pull-left">一旦转让出去，你就管不了哦……</p>
	<button class="btn btn-danger pull-right">转 让</button>
</div>
<div class="well clearfix">
	<h3 style="border-bottom:1px solid #E5E5E5; margin-bottom:15px; line-height: 36px; padding: 0">删除</h3>
	<p class="pull-left">一旦删除，就不回头</p>
	<button href="#deleteConfirm" class="btn btn-danger pull-right" data-toggle="modal" >删 除</button>
</div>
{# modals #}
<div class="modal hide" id="deleteConfirm" >
	<form action="/panel/{{project.id}}/delete/" method="post">
		{% csrf_token %}
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>您果断要删我了吗？</h3>
		</div>
		<div class="modal-body">
			<div class="alert alert-error">
				在下面输入框中输入项目名称，然后确认，就真的删除了！
				<br/>
				<br/>
				<input name="project_name" type="text" />
			</div>
			<p></p>
		</div>
		<div class="modal-footer">
			<a href="#" class="btn" data-dismiss="modal">关闭</a>
			<button type="submit" class="btn btn-primary">确 认</a>
		</div>
	</form>
</div>
</div>
<script></script>
{% endblock content %}
