{%extends 'datapanel/datapanel_base.html'%}
{% block title %}
{{project.name}} - 转化路径
{% endblock title %}
{% block subnav-funnel %}
    <li class="active">
        <a href="{%url funnel_home project.id%}">转化路径</a>
    </li>
{% endblock subnav-funnel %}
{% block content %}
<div class="well span10">
	<form action="" method="post" class="form-horizontal">
		{%csrf_token%}
    	{{ form }}
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">修 改</button>
			<button type="reset" class="btn">取 消</button>
		</div>
	</form>
</div>
{% endblock content %}
