.ul-striped li{
    padding: 5px;border-left: 2px solid #ccc;
}
.ul-striped li:nth-child(odd),
.ul-striped li:nth-child(odd) {
  background-color: #f0f6fb;border-left: 2px solid #f0f6fb;
}
.track-list li p {
    margin: 2px 0;
}
.trackgroup-list th {
    padding: 10px 15px;
    text-shadow: 0px 1px 1px #555;
    font-weight: bold;
    text-align: right;
}
.trackgroup-list td {
    text-align: right
}
.trackgroup-list td.action, .trackgroup-list th.action {
    text-align: left;
}
