{%extends 'datapanel/datapanel_base.html'%}
{% block title %}
{{project.name}} - 来源分析
{% endblock title %}
{% block subnav-referrer-keyword %}
<li class="active">
	<a href="{%url 'session_groupby_referrer' project.id "keyword" %}">来源分析</a>
</li>
{% endblock subnav-referrer-keyword %}
{% block content %}
<div class="span10">
	<div class="page-header">
		<h1>{{project.name}} / 来源分析</h1>
	</div>
	<ul class="nav nav-tabs">
		<li {%if params.referrer_attr == 'keyword'%}class="active"{%endif%}>
			<a href="{%url 'session_groupby_referrer' project.id "keyword" %}">来源关键词分析</a>
		</li>
		<li {%if params.referrer_attr == 'site'%}class="active"{%endif%}>
			<a href="{%url 'session_groupby_referrer' project.id "site" %}">来源网站分析</a>
		</li>
	</ul>
	<ul class="nav nav-pills">
        <li {% if params.interval == 1 %}class="active"{% endif %}><a href="?interval=1">昨天</a></li>
        <li {% if params.interval == 7 %}class="active"{% endif %}><a href="?interval=7">最近7天</a></li>
        <li {% if params.interval == 30 %}class="active"{% endif %}><a href="?interval=30">最近30天</a></li>
	</ul>
	<div class="">
		<table id="datatables" class="display datatables">
			<thead>
			<tr>
				<th width="300">

				</th>
				<th>
					访客数
				</th>
                <th>
                    浏览量
                </th>
                <th>
                    访问时长
                </th>
			</tr>
			</thead>
			<tbody>
			{% for datarow in dataset %}
			<tr>
				<td>{{datarow.label}}</td>
				<td>{{datarow.datarow.count}}</td>
                <td>{{datarow.datarow.track_count}}</td>
                <td>{{datarow.datarow.timelength_display}}</td>
			</tr>
			{% endfor %}
			</tbody>
            <tfoot>
            <tr>
                <th width="300">

                </th>
                <th>
                    访客数
                </th>
                <th>
                    浏览量
                </th>
                <th>
                    访问时长
                </th>
            </tr>
            </tfoot>
		</table>
	</div>
</div>
<script type="text/javascript">
$(function(){
$(document).ready(function(){
    $('#datatables').dataTable({
        "iDisplayLength": 30,
        "sPaginationType": "full_numbers",
        "bPaginate": true,
        "bFilter": false,
        "bLengthChange": false,
        "bInfo": false,
        "bAutoWidth": false,
        "aaSorting": [[ 1 , "desc" ]],
        "oLanguage": {
          "oPaginate": {
            "sFirst": "第一页",
            "sLast": "最后页",
            "sPrevious": "上一页",
            "sNext": "下一页"
          }
        }
    });
});
});
</script>
{% endblock content %}
