{%extends 'datapanel/datapanel_base.html'%}
{% block cssblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/stream.css">
{% endblock cssblock %}
{% block title %}
{{project.name}} - 访问路径
{% endblock title %}
{% block subnav-stream %}
<li class="active">
	<a href="{%url stream_list project.id%}">访问路径</a>
</li>
{% endblock subnav-stream %}
{% block content %}
<div class="span10">
	<div class="page-header">
		<h1>{{project.name}} / 访问路径</h1>
	</div>
	<div class="span8">
		<ul class="nav nav-tabs">
			<li class="active">
				<a href="{%url stream_list project.id %}">列表</a>
			</li>
			<li>
				<a href="{%url stream_stream project.id %}">平铺</a>
			</li>
		</ul>
		<ul class="unstyled session-list">
			{% for session in session_list %}
			<li>
				<h3>
				<a href="{{ session.id }}/">
					{% if session.username %}
					{{ session.username }}
					{% else %}
					Guest #{{session.id}}
					{% endif %}
				</a>
				<small class="pull-right">{{session.end_time|timesince}}前</small>
				</h3>
				<div>
					<p>
						{% if session.last_referer.referer_site %}
						来自 {{ session.last_referer.referer_site }}
						{%if session.last_referer.referer_keyword%}
							关键词：<a href="{{session.last_referer.url}}" title="{{session.last_referer.url}}">{{ session.last_referer.referer_keyword }}</a>
						{% else %}
							<a href="{{session.last_referer.url}}" title="{{session.last_referer.url}}">{{ session.last_referer.url|urlizetrunc:30 }}</a>
						{%endif%}
						{%endif%}
					</p>
					<p>
					着陆
					<a href="{{session.first_track.url}}" title="{{session.first_track.url}}">{{session.first_track.action}}</a>
					共浏览 <strong>{{session.track_count}}</strong> 个页面
					</p>
				</div>
			</li>
			{% endfor %}
		</ul>
		<div class="pagination pagination-right">
		 <input type="text" class="input-small pull-left" >
		 <button type="submit" class="btn pull-left" id="btn_goto_page">跳转</button>
		  <ul>
		  	<li class="disabled">
		 	<a>{{ session_list.number }} / {{ session_list.paginator.num_pages }}</a>
		 	</li>
		  	{% if session_list.has_previous %}
		    <li>
		    	<a href="?{{params.querystr}}&page={{ session_list.previous_page_number }}">上一页</a>
		    </li>
		    {% else %}
		    <li class="disabled"><a>上一页</a></li>
		    {% endif %}
		    {% if session_list.has_next %}
		    <li>
		    	<a href="?{{params.querystr}}&page={{ session_list.next_page_number }}">下一页</a>
		    </li>
		    {% else %}
		    <li class="disabled"><a>下一页</a></li>
		    {% endif %}
		  </ul>
		</div>
	</div>
	<div class="span2">
		<form class="form-horizontal">
		<p>
			排序
	  	</p>
		<p>
	      <select name="order">
	      	<option value="t">按时间排序</option>
	      	<option value="c">按浏览页面数量排序</option>
	      </select>
	  	</p>
		<p>
			浏览页面数大于
	  	</p>
		<p>
	      <input name="track_count__gt" type="input" class="input-small" >
	  	</p>
		<p>
	      <button type="submit" class="btn">确定</button>
	  	</p>
		</form>
	</div>
</div>
<script>
	$(function(){
		$("select[name=order]").val('{{params.order}}');
		$("input[name=track_count__gt]").val('{{params.track_count__gt}}');
	});
</script>
{% endblock content %}
