{%extends 'datapanel/datapanel_base.html'%}
{% block title %}
	{{project.name}} - 网页分析
{% endblock title %}
{% block subnav-group %}
<li class="active">
	<a href="{%url track_groupby_action project.id%}">网页分析</a>
</li>
{% endblock subnav-group %}
{% block content %}
<style>
.red {color:red};
</style>
<div class="span10">
	<div class="page-header">
		<h1>{{project.name}} / 网页分析</h1>
	</div>
	<div class="">
	<ul class="nav nav-pills">
        <li {% if params.interval == 1 %}class="active"{% endif %}><a href="?interval=1">昨天</a></li>
        <li {% if params.interval == 7 %}class="active"{% endif %}><a href="?interval=7">最近7天</a></li>
        <li {% if params.interval == 30 %}class="active"{% endif %}><a href="?interval=30">最近30天</a></li>
	</ul>
    <ul id="choiceContainer" class="nav nav-pills"></ul>
	<div id="placeholder" style="width:969px;height:300px;margin:10px 0"></div>
	<div id="chart" ></div>
    </div>
    <table class="display datatables" id="datatables">
        <thead>
            <tr>
                <th class="action" width="15">
                </th>
                <th class="action">
                    动作
                </th>
                {% for t in times %}
                {% if params.datetype == 'hour' %}
                <th>{{t|date:"H"}}</th>
                {% else %}
                <th>{{t|date:"d"}}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data.values %}
            <tr>
            <td class="action" id="action_{{row.label}}"></td>
            <td class="action">{{row.label}}</td>
            {% for value in row.data %}
                <td data-id="{{row.label}}_{{value.0|date:"YmdHiS"}}">{{value.1}}</td>
            {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<SCRIPT LANGUAGE="Javascript" SRC="{{ STATIC_URL }}js/FusionCharts.js"></SCRIPT>
<script type="text/javascript">
$(document).ready(function(){
    $('#datatables').dataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bInfo": false,
        "bFilter": false,
        "bAutoWidth": false,
        "sScrollX": "100%",
        "bScrollCollapse": true
    });

	var datasets = {}
	{% for action in actions %}
	var {{action}} = [];
	{% for t in times %}
	{{action}}[{{forloop.counter|add:-1}}] = [{{forloop.counter|add:-1}}, $('td[data-id={{action}}_{{t|date:"YmdHiS"}}]').html()];
	{% endfor %}
	datasets['{{action}}'] = {label: '{{action}}', data:{{action}}};
	{% endfor %}
	var ticks = []
	{% for t in times %}

    {% if params.datetype == 'hour' %}
    ticks[{{forloop.counter|add:-1}}] = [{{forloop.counter|add:-1}}, '{{t|date:"H:00"}}'];
    {% else %}
    ticks[{{forloop.counter|add:-1}}] = [{{forloop.counter|add:-1}}, '{{t|date:"d"}}'];
    {% endif %}

	{% endfor %}


    var i = 0;
    $.each(datasets, function(key, val) {
        val.color = i;
        ++i;
    });

    $.each(datasets, function(key, val) {
        var choiceContainer = $("td#action_" + key);
        choiceContainer.html('<input type="checkbox" name="' + key +
                               '" checked="checked" id="id' + key + '">');
    });

    $("table#datatables").find("input").click(plotAccordingToChoices);
	function plotAccordingToChoices() {

		var lcolor = new Array("1D8BD1","F1683C","2AD62A","DBDC25","649665","4169E1","087eb6","BA55D3","D2691E","FF7F50","32CD32","4682B4")
	    var xmlData="<graph formatNumberScale='0' showShadow ='1' showValues='0' useRoundEdges='1'><categories>";
		{% for t in times %}
	
	    {% if params.datetype == 'hour' %}
		    xmlData+="<category name='{{t|date:"H:00"}}'/>";
		    {% else %}
		    xmlData+="<category name='{{t|date:"d"}}'/>";
	    {% endif %}
	
		{% endfor %}
		xmlData+="</categories>";
		var j = 0;
		
		var data = [];
		
        $("table#datatables").find("input:checked").each(function () {
        	var key = $(this).attr("name");

        	xmlData+="<dataset seriesName='"+key+"' color ='"+lcolor[j]+"'>";
        	j++;
			$.each(datasets[key].data, function(key, val) {
				xmlData+="<set value='"+val[1]+"'/>";
			});
			xmlData+="</dataset>";

            
            if (key && datasets[key])
                data.push(datasets[key]);
        });

		xmlData+="</graph>";
	    var chart = new FusionCharts("{{ STATIC_URL }}flash/FCF_MSLine.swf", "chartId", "969", "300", "0", "1");
	    chart.setDataXML(xmlData);
	    chart.setTransparent(true);
	    chart.render("chart");

        var height = $("table#datatables").find("input:checked").length * 20 + 100;
        if(height < 300){height = 300;}
        $("#placeholder").height(height + "px");
		

        if (data.length > 0)
            $.plot($("#placeholder"), data, {
                yaxis: { min: 0 },
                grid: { hoverable: true, clickable: true },
                xaxis: { ticks:ticks },
				series: {
				   lines: { show: true },
				   points: { show: true }
				}
            });
    }

    plotAccordingToChoices();

	function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #fdd',
            padding: '2px',
            'background-color': '#fee',
            opacity: 0.80
        }).appendTo("body").fadeIn(200);
    }

    $("#placeholder").bind("plothover", function (event, pos, item) {
        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;
                $("#tooltip").remove();
                var i = item.dataIndex;
                var x = item.datapoint[0];
                var y = item.datapoint[1];

                showTooltip(item.pageX, item.pageY,
                            "<b>" + item.series.label + "</b><br/>访问量：" + y + "<br/>" + ticks[i][1]);
            }
        }
        else {
            $("#tooltip").remove();
            previousPoint = null;
        }
    });
});
</script>
{% endblock content %}
