{%extends 'datapanel/datapanel_base.html'%}
{% block title %}
    {{project.name}} - 参数分析
{% endblock title %}
{% block subnav-track %}
<li class="active">
    <a href="{%url track_groupby_value project.id%}">参数分析</a>
</li>
{% endblock subnav-track %}
{% block content %}
<style>
.red {color:red};
</style>
<div class=" span10">
	<div class="page-header">
		<h1>{{project.name}} / 参数分析</h1>
	</div>
	<div class="">
	<ul class="nav nav-pills">
        <li {% if params.interval == 1 %}class="active"{% endif %}><a href="?interval=1&name={{params.name}}">昨天</a></li>
        <li {% if params.interval == 7 %}class="active"{% endif %}><a href="?interval=7&name={{params.name}}">最近7天</a></li>
        <li {% if params.interval == 30 %}class="active"{% endif %}><a href="?interval=30&name={{params.name}}">最近30天</a></li>
		<li class="dropdown" id="name">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#name">
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				{%for name in value_names%}
				<li>
					<a data-id="{{name.name}}" href="?interval={{params.interval}}&name={{name.name}}">{{name.name}}</a>
				</li>
				{%endfor%}
			</ul>
		</li>
	</ul>
    <!--<div id="placeholder" style="width:969px;height:300px;margin:10px 0"></div>-->
	<table class="datatables display" id="datatables">
		<thead>
			<tr>
				<th class="action">
				</th>
				{% for t in times %}
                {% if params.datetype == 'hour' %}
                <th>{{t|date:"H"}}</th>
                {% else %}
                <th>{{t|date:"d"}}</th>
                {% endif %}
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in data.values %}
			<tr>
			<td class="action"><a href="{%url track_get_url_by_value project.id %}?name={{params.name}}&value={{row.label}}" target="_blank">{{row.label}}</a></td>
			{% for value in row.data %}
				<td data-id="{{row.label}}_{{value.0}}">{{value.1}}</td>
			{% endfor %}
			</tr>
			{% endfor %}

		</tbody>
	</table>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
    $("#name").find("a.dropdown-toggle").html('{{params.name}}<b class="caret"></b>');
    $('#datatables').dataTable({
        "bPaginate": false,
        "bLengthChange": false,
        "bInfo": false,
        "bFilter": false,
        "bAutoWidth": false,
        "sScrollX": "100%",
        "bScrollCollapse": true,
        "aaSorting": [[1,"desc"]]
    });
});
</script>
{% endblock content %}
