{%extends 'datapanel/datapanel_base.html'%}
{% block title %}
{{project.name}} - 访问路径
{% endblock title %}
{% block subnav-stream %}
<li class="active">
	<a href="{%url stream_list project.id%}">访问路径</a>
</li>
{% endblock subnav-stream %}
{% block content %}
<div class="span10">
	<div class="page-header">
		<h1>访问路径</h1>
	</div>
	<table class='table'>
		<thead>
		<tr>
		  <th>页面</th>
		  <th>url路径</th>
		  <th>访问时间</th>
		  <th>停留时间（秒）</th>
		</tr>
		</thead>
		{% for track in track_flow %}
		<tr class="{{ track.action }}">
		<td>{{ track.action }}</td>
		<td><a href="{{track.url}}" title="{{track.url}}">{{ track.url|urlizetrunc:50 }}</a>
			{% if track.referrer %}
			<br/>
			来自 {{ track.referrer.referrer_site }} 关键词: <a href="{{track.referrer.referrer}}" title="{{track.referrer.referrer}}">{{ track.referrer.referrer_keyword }}</a>
			{% else %}
			<a href="{{track.referrer.referrer}}" title="{{track.referrer.referrer}}">{{ track.referrer.referrer|urlizetrunc:30 }}</a>
			{% endif %}
		</td>
		<td>{{ track.dateline|date:"Y-m-d H:i:s" }}</td>
		<td>{{ track.timelength|default:0}}</td>
		</tr>
		</tr>
		{% endfor %}
	</table>
	<div class="pagination pagination-right">
	 <input type="text" class="input-small pull-left" >
	 <button type="submit" class="btn pull-left" id="btn_goto_page">跳转</button>
	  <ul>
	  	<li class="disabled">
	 	<a>{{ track_flow.number }} / {{ track_flow.paginator.num_pages }}</a>
	 	</li>
	  	{% if track_flow.has_previous %}
	    <li>
	    	<a href="?{{params.querystr}}&page={{ track_flow.previous_page_number }}">上一页</a>
	    </li>
	    {% else %}
	    <li class="disabled"><a>上一页</a></li>
	    {% endif %}
	    {% if track_flow.has_next %}
	    <li>
	    	<a href="?{{params.querystr}}&page={{ track_flow.next_page_number }}">下一页</a>
	    </li>
	    {% else %}
	    <li class="disabled"><a>下一页</a></li>
	    {% endif %}
	  </ul>
	</div>
</div>
{% endblock content %}
