{%extends 'datapanel/datapanel_base.html'%}
{% block subnav-condition %}
    <li class="active">
        <a href="{%url condition_list project.id%}">条件设定</a>
    </li>
{% endblock subnav-condition %}
{% block content %}
    <div class="span10">
        <div class="page-header">
            <a class="btn pull-right" href="{%url condition_testercreate project.id condition.id%}">添加公式</a>
            <h1>{{project.name}} / 条件设定</h1>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th class="">条件名称</th>
                <th>与或关系</th>
                <th>Track列名</th>
                <th>运算符</th>
                <th>值</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for tester in tester_list %}
                <tr>
                    <td class="">{{tester.condition.name}}</td>
                    <td>{{tester.get_operator_display}}</td>
                    <td>{{tester.get_col_name_display}}</td>
                    <td>{{tester.get_test_operator_display}}</td>
                    <td>{{tester.test_value}}</td>
                    <td><a href='{%url condition_testerupdate project.id tester.condition.id tester.id%}'>编辑</a> |
                        <a href='{%url condition_testerdelete project.id tester.condition.id tester.id%}'>删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn" href="{%url condition_testercreate project.id condition.id%}">添加公式</a>
        <a class="btn" href="{%url condition_list project.id%}">返回</a>
    </div>
{% endblock content %}