{%extends 'datapanel/datapanel_base.html'%}
{% block subnav-stream %}
<li class="active">
	<a href="{%url stream_list project.id%}">访问路径</a>
</li>
{% endblock subnav-stream %}
{% block content %}
<div class="span10">
	<div class="page-header">
		<h1>{{project.name}} / 访问路径</h1>
	</div>
	<div class="span8">
		<ul class="unstyled ul-striped track-list">
			{% for session in session_list %}
			<li>
				<h3>
				<a href="{{ session.id }}/">
					{% if session.username %}
					{{ session.username }}
					{% else %}
					Guest #{{session.id}}
					{% endif %}
				</a>
				<small class="pull-right">{{session.end_time|timesince}}前</small>
				</h3>
				<div>
					<p>
						{% if session.first_track.param_display.referer_parsed %}
							来自 {{ session.first_track.param_display.referer_site }}
							{%if session.first_track.param_display.referer_keyword%}
								关键词：<a href="{{session.first_track.param_display.referer}}" title="{{session.first_track.param_display.referer}}">{{ session.first_track.param_display.referer_keyword }}</a>
							{% else %}
								<a href="{{session.first_track.param_display.referer}}" title="{{session.first_track.param_display.referer}}">{{ session.first_track.param_display.referer|urlizetrunc:30 }}</a>
							{%endif%}
						{% endif %}
					</p>
					<p>
					着陆
					<a href="{{session.first_track.url}}" title="{{session.first_track.url}}">{{session.first_track.action}}</a>
					共浏览 <strong>{{session.track.count}}</strong> 个页面
					</p>
				</div>
			</li>
			{% endfor %}
		</ul>
		<div class="pagination pagination-right">
		  <ul>
		  	{% if session_list.has_previous %}
		    <li>
		    	<a href="?page={{ session_list.previous_page_number }}">上一页</a>
		    </li>
		    {% else %}
		    <li class="disabled"><a>上一页</a></li>
		    {% endif %}
		    {% if session_list.has_next %}
		    <li>
		    	<a href="?page={{ session_list.next_page_number }}">下一页</a>
		    </li>
		    {% else %}
		    <li class="disabled"><a>下一页</a></li>
		    {% endif %}
		  </ul>
		</div>
	</div>
	<div class="span2">
		<form class="form-horizontal">
		<p>
	      <select name="order">
	      	<option value="t">排序（默认按时间排序</option>
	      	<option value="t">按时间排序</option>
	      	<option value="c">按浏览页面数量排序</option>
	      </select>
	  	</p>
		<p>
	      <select name="filter">
	      	<option value="">来源（默认所有）</option>
	      	<option value="b">来自百度</option>
	      </select>
	  	</p>
		<p>
	      <button type="submit" class="btn">确定</button>
	  	</p>
		</form>
	</div>
</div>
{% endblock content %}