{%extends 'datapanel/datapanel_base.html'%}
{% block subnav-stream %}
<li class="active">
	<a href="{%url stream_list project.id%}">访问路径</a>
</li>
{% endblock subnav-stream %}
{% block content %}
<div class="well span10">
	<div class="page-header">
		<h1>访问路径</h1>
	</div>
	<table class='table'>
		<thead>
		<tr>
		  <th>页面</th>
		  <th>url路径</th>
		  <th>url来源</th>
		  <th>访问时间</th>
		</tr>
		</thead>
		{% for track in track_flow %}
		<tr>
		<td>{{ track.action }}</td>
		<td>{{ track.url }}</td>
		<td>
			{% if track.param_display.referer_parsed %}
			{{ track.param_display.referer_site }}: <a href="{{track.param_display.referer}}" title="{{track.param_display.referer}}">{{ track.param_display.referer_keyword }}</a>
			{% else %}
			<a href="{{track.param_display.referer}}" title="{{track.param_display.referer}}">{{ track.param_display.referer|urlizetrunc:30 }}</a>
			{% endif %}
		</td>
		<td>{{ track.dateline|date:"Y-m-d H:i:s" }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock content %}