{% extends "base.html" %}
{% block topbar %}
<div class="container">
	<a class="brand" href="#">MyPanel</a>
	<ul class="nav">
		{% if project %}
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">项目 - {{project.name}}</a>
				<ul class="dropdown-menu">
						{% for p in user.participate_projects.all %}
						<li if="" project.id="=" p.id="" class="active" endif="">
							<a href="{%url project_home p.id%}">{{p.name}}</a>
						</li>
						{% endfor %}
					</li>
				</ul>
			</li>
		{% endif %}
	</ul>
	<ul class="nav pull-right">
		<li>
			<a href="#">联系我们</a>
		</li>
		<li>
			<a href="#">帮助中心</a>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">账号 - [{{user}}]</a>
			<ul class="dropdown-menu">
				<li>
					<a href="#">账号资料</a>
				</li>
				<li>
					<a href="#">设置邮箱</a>
				</li>
				<li>
					<a href="{%url auth_password_change%}">设置密码</a>
				</li>
				<li>
					<a href="{%url auth_logout%}">退出</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
{% endblock topbar %}
{% block navbar %}
{%if project%}
<div class="span2">
<ul class="nav nav-list well">
	<li class="nav-header">概况</li>
	{% block subnav-home %}
	<li>
		<a href="{%url project_home project.id%}">网站概况</a>
	</li>
	{% endblock subnav-home %}
	<li class="nav-header">分析</li>
	{% block subnav-group %}
	<li>
		<a href="{%url group_home project.id%}">网页分析</a>
	</li>
	{% endblock subnav-group %}
	{% block subnav-track %}
	<li>
		<a href="{%url track_groupby_value project.id%}">访问量参数分析</a>
	</li>
	{% endblock subnav-track %}
	<li>
		<a href="#">转化路径</a>
	</li>
	<li>
		<a href="#">忠诚度</a>
	</li>
	{% block subnav-condition %}
	<li>
		<a href="{%url condition_list project.id%}">条件设定</a>
	</li>
	{% endblock subnav-condition %}
	<li class="nav-header">访客分析</li>
	{% block subnav-stream %}
	<li>
		<a href="{%url stream_list project.id%}">访问路径</a>
	</li>
	{% endblock subnav-stream %}
	{% block subnav-referer %}
	<li>
		<a href="{%url referer_list project.id%}">来源分析</a>
	</li>
	{% endblock subnav-referer %}
	<li class="nav-header">设置</li>
    {% block subnav-setting  %}
	<li>
		<a href="{%url project_setting project.id%}">设置</a>
	</li>
    {% endblock subnav-setting %}
    {% block subnav-action %}
    <li>
        <a href="{%url action_list project.id%}">定义行为</a>
    </li>
    {% endblock subnav-action %}
	<li>
		<a href="#">队友</a>
	</li>
</ul>
</div>
{%else%}
{%endif%}
{% endblock navbar%}
