{%extends 'datapanel/datapanel_base.html'%}
{% block subnav-home %}
<li class="active">
	<a href="{%url datapanel_home project.id%}">网站概况</a>
</li>
{% endblock subnav-home %}
{% block content %}
<div class=" span10 well">
	<div class="page-header">
		<h1>{{project.name}} / 网站概况</h1>
	</div>
	<!--<ul class="nav nav-pills">
		<li>
			<input id="sd" type="text" class="datepicker input-small" value="2012-08-01" data-date-format="yyyy-mm-dd">
			-
			<input id="ed" type="text" class="datepicker input-small" value="2012-08-08" data-date-format="yyyy-mm-dd"></li>
		<li class="dropdown pull-right" id="menu0">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#menu0">
				饼图 <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="#">饼图</a>
				</li>
				<li>
					<a href="#">线图</a>
				</li>
			</ul>
		</li>
		<li class="dropdown pull-right" id="menu1">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
				天 <b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="#">小时</a>
				</li>
				<li>
					<a href="#">天</a>
				</li>
				<li>
					<a href="#">周</a>
				</li>
				<li>
					<a href="#">月</a>
				</li>
			</ul>
		</li>
		<li class="dropdown pull-right" id="menu2">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">
				总访问量
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="#">独立访问量</a>
				</li>
				<li>
					<a href="#">总访问量</a>
				</li>
				<li>
					<a href="#">平均访问量</a>
				</li>
			</ul>
		</li>
	</ul>
	<ul>
		<li>pv: {{data.pv}}</li>
		<li>uv: {{data.uv}}</li>
	</ul>-->
	<h2 class="pull-left">访问量</h2>
	<ul class="nav nav-pills">
		<li class="dropdown pull-right" id="menu3">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#menu3">
				总访问量
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a href="#">独立访问量</a>
				</li>
				<li>
					<a href="#">总访问量</a>
				</li>
				<li>
					<a href="#">平均访问量</a>
				</li>
			</ul>
		</li>
	</ul>

	<table class="table">
		<thead>
			<tr>
				<th>动作</th>
				<th>今天</th>
				<th>8月7日</th>
				<th>7月31日</th>
				<th>7月24日</th>
				<th>7月17日</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>首页</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>分类</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>产品</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>购物车</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>支付</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
				<td>0</td>
			</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript">
$('.dropdown-toggle').dropdown();
$('.datepicker').datepicker();
</script>
{% endblock content %}