{%extends 'datapanel/datapanel_base.html'%}
{% block subnav-stream %}
<li class="active">
	<a href="{%url datapanel_stream project.id%}">访问路径</a>
</li>
{% endblock subnav-stream %}
{% block content %}
<div class="well span10">
	<div class="page-header">
		<h1>{{project.name}} / 访问路径</h1>
	</div>

	<dl>
		{% for session in session_list %}
		<dt>
			<a href="{{ session.id }}/">
				{% if session.username %} 
				{{ session.username }}
				{% else %}
				Guest#{{session.id}}
				{% endif %}
			</a>
		</dt>
		<dd><ul class='unstyled'><li>访问页面数：{{session.track.count}}</li></ul></dd>
		{% endfor %}
	</dl>
	<div class="pagination pagination-right">
	  <ul>
	  	{% if session_list.has_previous %}  	
	    <li>
	    	<a href="?page={{ session_list.previous_page_number }}">上一页</a>
	    </li>
	    {% else %}
	    <li class="disabled"><a>上一页</a></li>
	    {% endif %}
	    {% if session_list.has_next %}
	    <li>
	    	<a href="?page={{ session_list.next_page_number }}">下一页</a>
	    </li>
	    {% else %}
	    <li class="disabled"><a>下一页</a></li>
	    {% endif %}
	  </ul>
	</div>
</div>
{% endblock content %}